.name {
	position: relative;
	color: black;
	font-family: bookman-jf-pro,serif;
	font-weight: 400;
	font-style: italic;
	font-size: 12vw;
/*	bottom: 27vw;
	left: 1vw;*/
	line-height: 1em;
	text-align: center;
/*	background: red;*/
	padding-top: 10px;
}

.about {
	position: relative;
	font-family: bookman-jf-pro,serif;
	font-weight: 400;
	font-style: italic;
	font-size: 12vw;
	left: 25vw;
	line-height: 1em;
	bottom: 30vw;
	z-index: 4;
	display: inline-block;
}

#shel {
	width: 100%;
	height: auto;
	padding-bottom: 10px;
}

#edge {
	position: relative;
	width: 100%;
	height: auto;
	z-index: 1;
}

article {
	position: relative;
	font-family: bookman-jf-pro,serif;
	font-weight: 400;
	font-style: normal;
	font-size: 3em;
	padding: 5vw;
	bottom: 25vw;
}

