body {
  overflow-y: hidden;
}


a, a:visited {
  color: blue;
  text-decoration: none;
}

#main {
line-height: 0.65em;
letter-spacing: 0.05em;
position: relative;
font-size: 21px;
width: 150px;
}

#block2 {
position: relative;
left: 526px;
bottom: 171px;
}

#block3 {
position: relative;
left: 526px;
bottom: 217px;
}

#block4 {
position: relative;
bottom: 388px;
}
✢
