body {
  background: #F4F0E5;
  font-family: din-2014,sans-serif;
  font-weight: 400;
  font-style: normal;
}

.plain-link {
  text-decoration: none;
  color: black;
}

.button-link {
  text-decoration: none;
  color: black;
}

.button-link:hover {
  color: #F4F0E5;
}

nav {
  padding-bottom: 3px;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.tabs {
  font-size: 40px;
}

.buttons {
  display: flex;
  font-size: 28px;
  gap: 20px;
  flex-wrap: wrap;
}

.about, .letters, .home {
  display: inline-block;
  border: solid 3px black;
  padding: 5px 25px;
  border-radius: 80px;
  transition: ease-in 0.2s;
}

.about:hover, .letters:hover, .home:hover {
  background: black;
}

hr {
  border: 1.5px solid black;
}


/*INFO CONTENT*/

.container {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 28px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}


.c {
  width: 30px;
  height: 30px;
  border-radius: 50%
}

.years, .colors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  line-height: 50px;
}










/*MEDIA QUERIES*/

@media only screen and (max-width: 835px) {

nav, .filter-bar, .filter-tabs {
  justify-content: center;
}

.years, .colors {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 50px;
}

}












