body {
  padding: 20px;
  background-repeat: repeat;
  background-image: url("https://thumbs.gfycat.com/NegativeFineDingo-size_restricted.gif");
}

.container {
	display: flex;
	flex-direction: row;
	gap: 2.5%;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 90vh;

}

video {
	position: relative;
	width: 40vw;
	height: 30vw;
	border: 15px;
	top: 50%;
	transform: translateY(-50%);
	border: 5px solid #000;
    border-bottom-color: white;
    border-right-color: #dfdfdf;
    border-left-color: darkgrey;
    border-top-color: #403c3c;
}

.item {
    background: #cccccc;
    position: relative;    
  	width: 60vw;
  	height: 35vw;
    margin: auto;
    border: 10px solid #000;
    border-top-color: white;
    border-left-color: #dfdfdf;
    border-right-color: darkgrey;
    border-bottom-color: #403c3c;
    text-align: center;
}

.item2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.field {
	font-size: 28px;
	background: white;
	border: 5px solid #000;
    border-bottom-color: white;
    border-right-color: #dfdfdf;
    border-left-color: darkgrey;
    border-top-color: #403c3c;
    width: 37vw;
	height: 20vw;
	padding: 10px;
	overflow-x: hidden;
	overflow-y: scroll;
	text-align: left;
}


/*AUDIO PANEL*/
audio::-webkit-media-controls-panel {
  background-color: #cccccc;
}

audio::-webkit-media-controls-mute-button {
  background-color: #cccccc;
}

audio {
	width: 38vw;
	background-color: #cccccc;
	border: 5px solid #000;
    border-bottom-color: white;
    border-right-color: #dfdfdf;
    border-left-color: darkgrey;
    border-top-color: #403c3c;	 

}





@media screen and (max-width: 1000px) {

.container {
	display: flex;
	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	text-align: center;
}

.item {
	width: 80vw;
  	height: 55vw;
}

video {
	width: 48vw;
	height: 35vw;
}

.field {
	font-size: 18px;
	width: 48vw;
	height: 20vw;
}

audio {
	width: 48vw;
}

}



