html {
	cursor: url(circle.png), auto;
}

body {
	font-family: 'Inter', sans-serif;
}

.top {
	padding: 2.5vw;
	background: #e9e3d7;
	color: black;
}

.top-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 2.25em;
}

.container {
	width: 100%;
	height: auto;
	text-align: center;
}

video, img {
	width: 100%;
}

.desc {
	padding: 4vw;
}

.bottom {
	padding: 2.5vw;
	background: black;
	color: #e9e3d7;
	font-size: 2.25em;
}

a {
	text-decoration: none;
	color: #e9e3d7;
}

a:hover {
	text-decoration: underline;
}




