html {
	cursor: url('assets/kadha2.png'),auto;
}

body {
	background: #E2D0BE;
	font-family: 'Cormorant Garamond', serif;
	padding-bottom: 1vw;
}

.vl1 {
border-left: 4px solid rgba(202, 69, 18, 1); 
height: 841px;
}

.vl2 {
border-left: 4px solid rgba(202, 69, 18, 1);
height: 841px;
}

.leftlines {
	display: flex;
	position: fixed;
	flex-direction: row;
	gap: 15px;
	left: 80px;
}

.vr1 {
border-left: 4px solid rgba(202, 69, 18, 1); 
height: 841px;
}

.vr2 {
border-left: 4px solid rgba(202, 69, 18, 1);
height: 841px;
}

.rightlines {
	right: 80px;
	position: fixed;
	display: flex;
	flex-direction: row;
	gap: 15px;
	/*justify-content: flex-end;*/
	/*height: 100vh;*/
	/*background-color: blue;*/
}

.lines {
	height: 100vh;
	position: fixed;
	flex-direction: row;
	align-items: flex-start;
}

/*TEXT*/

.k {	
	font-family: Cormorant Garamond;
	font-style: normal;
	font-weight: bold;
	font-size: 71.305px;
	line-height: 86px;
	color: #CA4512;
}

.title {
	font-family: Cormorant Garamond;
	font-style: normal;
	font-weight: bold;
	font-size: 71.305px;
	line-height: 86px;
	color: #000000;
	padding-left: 10vw;
}

/*LINKS*/

a {
	text-decoration: none;
	transition: 0.3s ease;
	cursor: url('assets/kadha2.png'),auto;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: #CA4512;
}

/* selected link */
a:active {
  color: blue;
}

.menu {
	font-family: Cormorant Garamond;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	line-height: 33px;
	display: flex;
	flex-direction: row;
	gap: 2vw;
	position: relative;
	right: 10vw;
}

.ingredients {
	text-decoration: underline;
}

.header {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-between;
	padding-top: 0.5vw;
}

@media (max-width: 768px) {
		.header {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding-right: 8vw;
		}
		.menu {
			padding-top: 10vw;
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			right: -4vw;
		}
  }

/*IMGS*/

.container {
	position: relative;
	display: grid;
	padding: 4%;
	padding-top: 7%;
	padding-bottom: 46%;
 	grid-template-columns: 20% 20% 20% 20%;
  grid-column-gap: 1%;
  grid-row-gap: 5%;
  left: 7%;
}

.item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.3vw;
}

img {
	width: 70%;
	height: auto;
}

@media (max-width: 768px) {

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 6vw;
	left: 0vw;
	padding-bottom: 6%;
	padding-top: 10%;
}	

img {
	width: 45%;
	height: auto;
}

.item {
	font-size: 4vw;
}

}


























