html {
	cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🎾</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

body {
	background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.5);
	font-family: 'Helvetica', 'Arial', sans-serif;
	padding: 2vw;
	font-size: 35px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: limegreen;
}