body {
	background: #FFF9F4;
	color: #0919A4;
	font-family: minion-pro-condensed, serif;
	font-weight: 200;
	padding: 2vw;
}

.header {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	align-content: flex-start;
}

.name {
	font-style: italic;
	font-size: 4.5vw;
}

.info {
	font-size: 2.2vw;
	display: block;
	width: 33vw;
}

.container {
	margin: auto;
	width: 100%;
}

.item {
	width: 20.5%;
	height: auto;
	padding: 2vw;
}

.item:hover {
	filter: blur(7px);
}

.item9:hover {
	filter: blur(0px);
}


