body {
	font-family: adobe-garamond-pro,serif;
	background: #EEE6E1;
	color: black;
	padding: 2vw;
	text-align: center;
}

.bold {
	font-size: 3vw;
	font-weight: bold;
}

.italic {
	font-size: 1.875vw;
	font-style: italic;
}
