body {
	font-family: adobe-garamond-pro,serif;
	background: black;
	color: #EEE6E1;
	padding: 3vw;
	overflow-x: scroll;
}

.name {
	font-size: 5.625vw;
	position: fixed;
	top: 80%;
}

.numbers {
	position: relative;
	font-size: 11.25vw;
	display: flex;
	flex-direction: row;
	gap: 10vw;
	bottom: 50%;
}

.content {
	font-size: 1vw;
	position: relative;
	display: flex;
	flex-direction: row;
	gap: 18vw;
}